.dropdown {
  background-color: #000;
  border: none;
  border-radius: 15px;
  color: #C5C5C5;
  text-decoration: none;
  margin-left: 5px;
}

.dropdown:focus {
  outline: transparent;
}

@media (max-width: 576px) {
  .dropdown {
    width: 100%;
  }
}
