form {
  background-color: #000;
  border: none;
  border-radius: 15px;
}

input, input:focus, input:active {
  background-color: transparent;
  border: none;
  color: #C5C5C5;
  box-shadow: none;
}

@media (max-width: 767px) {
  .form-control {
    width: 90%;
  }
}
