.random-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h5 {
  color: #757575;
  font-weight: 500;
}

hr {
  background-color: #515050;
}

.hr-pro {
  width: 85%;
}

.hr-fav {
  width: 79%;
}

@media (max-width: 1200px) {
  .hr-fav {
    width: 77%;
  }
}

@media (max-width: 992px) {
  .hr-pro {
    width: 80%;
  }

  .hr-fav {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .hr-pro {
    width: 73%;
  }

  .hr-fav {
    width: 58%;
  }
}

@media (max-width: 576px) {
  .hr-pro, .hr-fav {
    width: 100%;
  }
}
